@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

:root {
  --primary-color: #f0e9e9;
  --primary-color-text: rgb(20, 20, 20);
  --secondary-color-text: rgba(48, 45, 45, 0.55);
  --bs-body-bg: #fbf9f6;
  --bs-body-font-family: "Montserrat", sans-serif;
}

body {
  height: 100vh;
  width: 100%;
}

/* Homepage styling */
.home-page-container {
  margin-top: 20px;
}
.home-page-container h1 {
  text-align: center;
}

.home-page-container .image-container {
  height: 600px;
}
.home-page-container .image-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.home-page-container .image-container div {
  text-align: center;
}

/* Index page styling */
.index-page-container {
  margin-top: 20px;
}
.index-page-container h1 {
  text-align: center;
}

.index-flex {
  margin: 20px;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.index-flex .card {
  margin: 10px;
}

/* Form page container */
.form-page-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-page-container form {
  min-width: 400px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 20px;
  background-color: #a2a7ada3;
}

.form-page-container form .btn {
  margin-top: 10px;
}

/* .form-page-container h4 {
  color: red;
} */

/* Show page styling */
.show-page-container {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.show-top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border-bottom: solid rgba(0, 0, 0, 0.35);
  padding-bottom: 10px;
}

.show-top img {
  max-height: 300px;
}
.show-top .text {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.show-top .text h2 {
  font-weight: 600;
}
.show-top .btn-container {
  display: flex;
}

.show-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.show-bottom .content {
  display: flex;
  width: 100%;
}
.show-bottom .comments {
  flex-grow: 1;
  margin-right: 40px;
  height: 100%;
}

.show-bottom form {
  min-width: 400px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 20px;
  background-color: #a2a7ada3;
  display: flex;
  flex-direction: column;
}

.show-bottom form .btn {
  margin-top: 10px;
}

.show-bottom .comments-title {
  font-weight: 600;
  margin-top: 20px;
}

.show-bottom .container-comment {
  display: flex;
  justify-content: space-between;
  padding: 7px;
  margin: 10px 0 10px 0;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.show-bottom .container-comment h3 {
  color: var(--primary-color-text);
  font-size: 1.2rem;
}

.show-bottom .container-comment .rant {
  color: var(--primary-color-text);
  font-weight: 400;
  font-weight: bold;
}
.show-bottom .container-comment .rating {
  color: var(--primary-color-text);
}
.show-bottom .container-comment h4 {
  color: var(--secondary-color-text);
  font-size: 1rem;
}

/* 404 page styling */
.error-page-container h1,
.error-page-container h4 {
  text-align: center;
}
.error-image-container {
  height: 500px;
}
.error-image-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.error-image-container div {
  text-align: center;
}

@media only screen and (max-width: 1078px) {
  .show-bottom .content {
    flex-direction: column;
    align-items: center;
  }
  .show-bottom .comments {
    margin-right: 0px;
  }
}
