@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

:root {
  --primary-color: #f0e9e9;
  --primary-color-text: rgb(20, 20, 20);
  --secondary-color-text: rgba(48, 45, 45, 0.55);
  --bs-body-bg: #fbf9f6;
  --bs-body-font-family: "Montserrat", sans-serif;
}

body {
  height: 100vh;
  width: 100%;
}

/* Homepage styling */
.home-page-container {
  margin-top: 20px;
}
.home-page-container h1 {
  text-align: center;
}

.home-page-container .image-container {
  height: 600px;
}
.home-page-container .image-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.home-page-container .image-container div {
  text-align: center;
}

/* Index page styling */
.index-page-container {
  margin-top: 20px;
}
.index-page-container h1 {
  text-align: center;
}

.index-flex {
  margin: 20px;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.index-flex .card {
  margin: 10px;
}

/* Form page container */
.form-page-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-page-container form {
  min-width: 400px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 20px;
  background-color: #a2a7ada3;
}

.form-page-container form .btn {
  margin-top: 10px;
}

/* .form-page-container h4 {
  color: red;
} */

/* Show page styling */
.show-page-container {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.show-top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border-bottom: solid rgba(0, 0, 0, 0.35);
  padding-bottom: 10px;
}

.show-top img {
  max-height: 300px;
}
.show-top .text {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.show-top .text h2 {
  font-weight: 600;
}
.show-top .btn-container {
  display: flex;
}

/* *********************************************************************** */
/* *********************************************************************** */
/* *********************************************************************** */
/* *********************************************************************** */

.show-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: blue; */
}

.show-bottom > h2 {
  font-weight: 700;
  margin-top: 20px;
  /* background-color: red; */
}

.show-bottom .content {
  /* background-color: pink; */
  display: flex;
  width: 100%;
  /* justify-content: space-between; */
  padding: 10px;
}

.content .comments-container {
  /* background-color: green; */
  flex: 3 0 0;
}

.content .comments-form-container {
  /* background-color: red; */
  flex: 1 0 0;
}
.content .comment-container {
  border-radius: 3px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.content .comment-container h2 {
  font-weight: 700;
}

.content .comment-container .right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content .comments-form-container form {
  margin: 0 15px 0 15px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

/* *********************************************************************** */
/* *********************************************************************** */
/* *********************************************************************** */
/* *********************************************************************** */

/* 404 page styling */
.error-page-container h1,
.error-page-container h4 {
  text-align: center;
}
.error-image-container {
  height: 500px;
}
.error-image-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.error-image-container div {
  text-align: center;
}

@media only screen and (max-width: 750px) {
  .show-bottom .content {
    flex-direction: column;
  }
  .content .comments-form-container form {
    margin: 10px 0 10px 0;
  }
}
